@import "tailwindcss";

body{
      font-family: "Nunito", sans-serif;
      /* overflow-x: hidden; */
      
}

Navlink{
     font-family: "Heebo", sans-serif;
}

.active{
color: rgb(236, 191, 41);
}


@layer components {
      .home-bg {
        @apply h-screen;
      }
    }